project = "corded-aquifer-235018"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image = "reddit-base"
rabbit_app_disk_image = "rabbit-app"
rabbit_db_disk_image = "rabbit-db"