project = "corded-aquifer-235018"
#public_key_path = "~/.ssh/GitHub-StarScream902-pub"
#private_key_path = "~/.ssh/GitHub-StarScream902-priv.OpenSSH"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image = "reddit-base"
