project = "corded-aquifer-235018"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image = "reddit-base"
reddit_app_disk_image = "reddit-app"
reddit_db_disk_image = "reddit-db"
ssh_user = "appuser"
